@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles 
Copied rgb colors from video.
rgb hr 247 248 251 - light color
rgb button background 32 52 89
blueish-bg-dropdown  32,52,89
sub-catergory  142, 159, 187
not-active 61, 80, 118
*/
:root {
  --btn-color: rgb(32,52,89);
  --light-color: rgb(244, 242, 244);
  --blueish-dropdown: rgb(32,52,89);
  --sub-cat-text: rgb(142,159, 187);
  --not-active-text: rgb(61, 80,118);
}


/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;

}

hr {
  color: var(--light-color);
  border: 1px solid;
}

.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.btn {
  display: inline-block;
  color: #fff;
  background: var(--btn-color);
  padding: 7px 15px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase; 
}

.inputbtn {
  padding: 10px 20px;
}

.input {
  padding: 7px 15px;
  border: solid;
  }

.icon {
  width: 40px;
  height: 40px;
  margin: 0px 3px;
  float: right;
  }

/* Start of Navbar, styling for navbar.js */

.navbar {
  background: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  margin: auto;
  overflow: auto;

}

.navbar .container {
  padding: 10px; 
  overflow: auto;
  align-items: center;
  }

  .navbar ul {
    list-style: none;
    width: 100%;
  }
  
  .navbar ul a {
    padding: 10px;
    font-weight: 500;
    color: rgb(25,24,26);
    text-decoration: none;
  }


.navbar .topLeft {
  font-size: 1.8rem;
  letter-spacing: 5px;
  float: left;
  margin-left:10px;
}

.navbar .topRight {
  float: right;
  margin-top: 8px;
  margin-right: 10px;
}



.navbar hr {
  width: 95%;
  margin: auto;
}

.searchbar {
  width: 95%;
  background: rgb(24,39,71); 
  margin: 0px 20px;
  padding: 7px 0px;
  font-size: 1.3rem;
  display: none;
}

.fa-search {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  
}

.searchInput{
  
  background: rgb(24,39,71); 
  width: 80%;
  color: var(--light-color);
  padding: 7px 0px;
  font-size: 1.3rem;
  border: none;
  

}

.dropdown {
  padding: 10px;
  overflow: auto;
  display: flex;
  }

.dropdown ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
}

.dropdown ul a {
  color: rgb(25,24,26);
  padding: 10px;
  font-weight: 600;
  text-decoration: none;

}
/* Styling for blue dropdown menu */
.navbar:hover {
  transition: all 1s;
  background: var(--blueish-dropdown);
  color: #fff;
  border-radius: 5px;
  

}
.navbar:hover ul a {
  color: #fff;
   
}

.navbar:hover .searchbar {
  display: block;
  
}

.navbar:hover .sub-menu {
  display: block;
}

.sub-menu {
  width: 95%;
  background: var(--blueish-dropdown);
  color: #fff;
  line-height: 1.5rem;
  margin: 0px 20px;
  padding: 7px 0px;
  display: none;
  transition: all 2s ease-in-out 1s;
 
  }
  .sub-menu p {
    color: var(--sub-cat-text);
    font-weight: 200;
    font-size: 0.9rem;
    
    }


.sub-menu-top {
  display: flex;
  margin: auto;
  width: 95%;
  margin-top: 30px;
  padding: 10px 10px;
}

.sub-top-right {
  margin: 20px 20px;
}

.sub-bottom-left {
  padding: 10px 10px;
  margin: 20px 20px;
} 
/* END of Navbar */




/* showCase, styling for showcase.js */
.showcase {
    padding: 5px;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.showcase img {
  height: 66%;
  width: 100%;
  margin-bottom: 15px;
}

/* END of showcase */

/* closet, styling for closet.js */
.closet {
  
  padding: 5px;

}

.closet img {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}
/* END of closet */


/* Footer, styling for footer.js */
.menu ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-evenly
}

.menu ul a {
  padding: 10px;
  font-weight: 500;
  color: rgb(67,65,67);
  text-decoration: none;
}

.menu ul img {
 color: #fff;
 border-top: 6px solid;
 height: 20px;
 width: 24px;
}


/* END of Footer */


/* utils */

.center {
  justify-content: center;
  text-align: center;
}

.greyishTextLight {

  font-size: 0.7rem;
  color: RGB(168, 167, 166);
  
}

.whiteishTextLight {
  color: var( --light-color);
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.margin-bottom-15px {
  margin-bottom: 15px;
}

.margin-bottom-25px {
  margin-bottom: 25px;
}

.margin-top-10px {
  margin-top: 10px;
}

.margin-top-15px {
  margin-top: 15px;
}

.margin-top-25px {
  margin-top: 25px;
}
